*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    font-family: 'Josefin Sans', sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    margin-top: auto;
    align-items: center;    
    justify-content: center;
}
.fa-chevron-left{
    font-size:100px; 
    color:  #05a081;
    margin-right: 20px;
}

.fa-chevron-right{
    font-size:100px; 
    color:  #05a081;
    margin-left: 20px;
}

.heading_review{
    margin-left: auto;
}

.devider{
    margin: auto;
    width: 100px;
    height:5px; 
    border-radius: 5px;
    background-color: #05a081;
}
.maincard{
    padding: 0;
    margin: 0;
    width: 450px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 15px;
    
}

img{
    margin: 10px 0 0 0;
    justify-content: center;
    width: 250px;
    padding:10px;


    position: relative; width: 220px; height: 200px;  border-radius: 50%;
}



.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name{
    letter-spacing: 3px;
    font-weight: 600;
}
.job-positions{
    font-weight: 400;
    color: #05a081;
  

}

.description{
    height: 200px;
    /* overflow: scroll; */
    word-wrap: normal;
    padding: 2px;
    overflow-y: scroll
}
.description::-webkit-scrollbar {
    display: none;
}
.buttons{
    padding-top: 15px;
    
 }
.btn{
    background-color: #05a081;
    border-color: transparent;
} 

.bi-caret-left{
    color: #05a081;
}
.left{
    font-size: 25px;

}

.btn:hover{
    /* background-color:transparent;
    border-color: transparent; */

}
.btn:active{
    /* background-color: antiquewhite; */
}

/* 
=========================================================
*/


